           @import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
           
           #titulo_principal{
                background-color: #8B6F1E;
                color: white;
            }

            .titulo_secundario{
                background-color: #2F4F2F;
                color: white;
            }
            
            .rodape{
                text-align: center;
            }

            body{
                background-color: rgb(0, 0, 0); /*Cor de fundo*/
                color: rgb(255, 255, 255); /*Cor da fonte*/
                font-family: Arial, Helvetica, sans-serif; /*Fonte do texto*/
                font-size: 16px; /*Tamanho da fonte*/
            }

            #layout{
                font-size: 1em; /*Herda o tamanho do pai (body) dele com um multiplicador*/
                display: flex;
                flex-direction: column;
                font-style: normal; /*Estilo da fonte: italic,normal e oblique*/
                line-height: 25px; /*Espaçamento entre as linhas*/
                font-weight: 400; /*negrito em css 100 a 900 bold e bolder*/
                text-transform: none; /*Capitalização do texto: uppercase, lowercase e capitalize*/
                text-decoration: none; /*Decoração do texto: underline, overline e line-through*/
                word-spacing: normal; /*Espaçamento entre as palavras*/
                letter-spacing: normal; /*Espaçamento entre as letras*/
                text-indent: 20px; /*Recuo da primeira linha do parágrafo*/
                text-align: normal; /*Alinhamento do texto: left, right, center e justify*/ 

                /*border-style: dashed; /*Estilo da borda: solid, dashed, dotted, double, groove, ridge, inset e outset
                border-width: 10px; /*Largura da borda: thin, medium, thick ou um valor em px, em, rem, %
                border-color: #294b29;*/
                border: dashed 5px  #2F4F2F;
                /* border-top, border-bottom, border-left, border-right, border-left muda as configurações da borda de cima, de baixo, da esquerda e da direita */
                border-radius: 50px; /*Arredondar cantos das borda*/
                margin: 20px; /*Margem fora da borda*/
                padding: 20px; /*Margem dentro da borda*/
            }
            nav a{
                text-decoration: none;
             /*}
            .teste_display{
                background-color: orange;
                display: inline-block;
                height: 200px; */ 
            }

            #teste_estilo_listau_ul{
                list-style-type: square;
            }

            #teste_estilo_listau_ol{
                list-style-image: url('seta_direita_vermelha.png');
            }

            li{
             border: solid 3px orange;
             list-style-position: outside; /*Posição do marcador da lista: inside e outside*/
            }
            
            #impacto{
                background-image:;
            }